.helpBox {
    display: flex;
    flex-wrap: wrap;
}

.helpTitle {
    text-align: center;
    font-size: 45px;
    font-family: "Cinzel", serif;
    font-weight: bolder;
    color: lightblue;
}

.helpText {
    flex: 1;
    text-align: justify;
    font-size: 25px;
    color: lightpink;
}

.gifBox {
    text-align: right;
    flex: 2;
    width: 100%;
    margin-right: 35px;
    margin-left: 10px;
}


@media screen and (width < 700) {
    .helpBox {
        display: block;
    }
}