body {
    height: auto;
    width: 100%;
}

.fading {
    animation: fading 6s infinite
}
@keyframes fading {
    0% {opacity: 0}
    20% {opacity: 1}
    80% {opacity: 1}
    100% {opacity: 0}
}
.slideshow {
    margin:auto;
}
.slide {
    align-content: justify;
    justify-content: center;
    width: 140%;
    border-radius: 4px;
}


